Listen 80
Listen 443
SSLStrictSNIVHostCheck off
<VirtualHost *:80>
    ServerName challenge.me
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^(.*)$
    RewriteRule ^(.*)$ https://%1$1 [R=Permanent,L,QSA]
</VirtualHost>

<VirtualHost *:443>
   ServerName challenge.me
   ErrorLog /var/log/httpd/myserver.error.log
   CustomLog /var/log/httpd/myserver.log combined

   <Proxy *>
     AddDefaultCharset Off
     Order deny,allow
     Allow from all
   </Proxy>
   SSLEngine on
   SSLProtocol all -SSLv2 -SSLv3
   SSLCertificateKeyFile /etc/pki/tls/certs/server.key
   SSLCertificateFile /etc/pki/tls/certs/server.crt

#settings for AJP to tomcat
   ProxyPass /hello ajp://localhost:8009/devopschallenge/hello
   ProxyPassReverse /hello ajp://localhost:8009//devopschallenge/hello

</VirtualHost>
